body{
	background:skyblue;
}
.FIRST{
	background:black;
	color:white;
}
.last{
	color:red;
}
.firstitem{
	background:white;
}
.secounditem{
	background:gray;
}
.thireditem{
	background:pink;
}
.fourthitem{
	background:gray;
}
.fifthitem{
	background:white;
}