body{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	background:black;
	color:white;
}
p:last-child{
	color:rgb(255, 0, 0);
}
li:nth-child(1){
	background:rgb(255, 255, 255);
}
li:nth-child(2){
	background:gray;
}
li:nth-child(3){
	background:pink;
}
li:nth-child(4){
	background:gray;
}
li:nth-child(5){
	background:rgb(255, 255, 255);
}